:root {
    --h-bg-co: rgba(209, 175, 123, .5);
    --hm-co: rgba(2, 2, 2, 0.5);
    --nList-bg-co: rgba(0, 0, 0, 0.7);
    --nList-co: rgba(255, 252, 255, 0.5);
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 1em;
    word-wrap: break-word;
}


/* header section */
.header-wrapper {
    width: 100%;
    height: 10vh;
    background-color: var(--h-bg-co);
    position: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}

.brand {
    width: 150px;
    padding: 0;
}

.logo {
    width: 100%;
    padding: 0;
}

.logo a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 10px 10px 0;
    color: black;

}

.brand a:hover {
    background-color: var(--h-bg-co);
    transform: scale(1.6);
}

/* use flex to align the hamburger and navlist, in the mobile phone */
.nav {
    margin-right: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



/* start hamburger */
.hamburger {
    width: 30px;
    height: 30px;
    border: 2px solid var(--hm-co);
    border-radius: 50%;
    position: relative;
    z-index: 100;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger.active::after {
    position: absolute;
    content: "";
    border: 2px solid var(--hm-co);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1s ease infinite;
}



.hamburger .patty {
    width: 15px;
    height: 2px;
    background-color: black;
    position: relative;
}

.hamburger .patty::after,
.hamburger .patty::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
}

.hamburger .patty::after {
    top: 4px;
}

.hamburger .patty::before {
    bottom: 4px;
}

.hamburger.active .patty::after {
    top: 0;
}

.hamburger.active .patty::before {
    bottom: 0;
}




/* start navlist  */
.nav-list {
    width: 100%;
    height: 100vh;
    list-style: none;

    position: absolute;
    left: 100%;
    top: 10vh;
    padding: 0;
    background-color: var(--nList-bg-co);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;
    transition: .5s ease;
}

.nav-list.active {
    left: 0;
    transition: 1s ease;
}

.nav-list li {
    width: 100%;
}

.nav-list li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--nList-co);
    font-weight: 800;
    font-size: 1.5em;
}

.nav-list li a:hover {
    background: transparent;
    transform: scale(1.5);
    border-radius: 10px;
}


/* hero section */

.hero-wrapper {
    background: url("../emdidi bg xps/hero-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.hero {
    padding: 6em 1em;
}


.hero-wrapper h1,
.hero-wrapper h2 {
    color: white;
}


/* projects section */


.projects {
    padding: .5em;
}

.projects-name h1 {
    text-align: center;
    text-shadow: 5px 4px 5px grey;
    letter-spacing: .5em;
}

.projects hr {
    width: 90%;
    margin: 1em auto;
}

.projects-logo {
    padding: .5em;
}

.projects-logo img {
    width: 7em;
}


.projects-title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.projects-info {
    text-indent: 1em;
    width: 30em;
    padding: .5em;
}

.projects-info a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.projects-info a:hover {
    display: block;
    transform: scale(1.2);
}


/* about section  */

.about-wrapper {
    width: 100%;
    height: 100%;
    padding: 2em 0;
}

.about-wrapper h2 {
    text-align: center;
    width: 50%;
    box-shadow: 2px 2px 5px gray;
    margin: .5em auto;
    border-radius: 0 0 10px 10px;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2em;
}


.my-pic img {
    width: 15em;
    margin: 0 auto;
}

.about-me {
    width: 100%;
    width: 15em;
    overflow-y: auto;
    text-indent: 1em;
}

/* contact section */
.contact-wrapper {
    text-align: center;
    margin: .5em 0;
}

.contact a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin: 0 1em;
    display: inline-block;
}

.contact a:hover {
    transform: scale(1.2);
}

/* footer section */
.footer {
    text-align: center;
}

.footer small {
    margin-top: 2em;
}

@media (min-width: 600px),
(orientation: landscape) {
    .nav {
        display: block;
        flex-direction: row;
        width: 60%;

    }

    .hamburger {
        display: none;
    }

    .nav-list {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        background: none;
    }

    .nav-list li a {
        color: black;
    }

    .nav-list li a:hover {
        background: var(--h-bg-co);
        border-radius: 10px;
    }


    /* hero sec */

    .hero {
        padding: 10em 1em 0 1em;
    }


    /* projects sec */
    .projects hr {
        width: 40%;
    }

    .projects-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        width: 100%;
    }

    .projects-logo img {
        width: 10em;
    }

    .projects-info {
        width: 30em
    }


    .about {
        height: 60vh;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    .about-me {
        width: 30em;
        overflow-x: hidden;
    }


}


@keyframes pulse {
    100% {

        transform: scale(1.1);
    }
}
